<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-container">
      <a href="{{ links.2f }}" aria-current="page" class="logo w-inline-block w--current">{%- image images.52e50e2c.url, images.52e50e2c.alt, '[]', 'class="image-logo"' -%}</a>
    </div>
  </div>